*{
    margin:0;
    padding:0;

}
body{
    background-color: #d8d8d8;
}
h3,h2,p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 30px;
}
p{
    font-size: 18px;
}
header{
    background-color: #292ec3;
    padding:20px 30px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
    Arial, sans-serif;
    letter-spacing: 2px;
}
.home__container{
    background-color: white;
    padding:50px 50px;
    width: 80%;
    margin:50px auto;
}
input[type="search"]{
    padding:15px;
    width: 100%;
    border:none;
    border-bottom: 4px solid #292ec3 ;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
    Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.lista__canciones{

}
.cancion__target{
    border-bottom: 3px solid black;
    padding:20px;
    cursor: pointer;
    
}
.cancion__target h2{
    text-align: center;

}
.cancion__target:hover{
    background-color: #292ec3;
    color:white;
}
.modal-verCancion{
    display: flex;
    margin: 60px 0;
    padding:0 10px;
}

/* .modal-verCancion aside{
    background-color: #d0d0d0;
    border-radius: 5px;
    padding: 20px;
} */
.modal-verCancion ul{
    list-style: none;
}

.modal-verCancion p{
    padding:20px 40px 0 0;
    line-height: 50px;
}
/*  */



/* The Modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close,
  .close2  {
    color: #292ec3;
    font-family: monospace;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .close:hover,
  .close:focus,
  .close2:hover,
  .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  







  /*
Asignar acorde a un texto
.container__text{
    max-width: 500px;
    font-family: monospace;
    font-size: 30px;
    cursor: pointer;
    line-height: 60px;
}
.container__text p {
  
}
em{
    position:absolute;
    padding: 0 5px;
    border-radius: 100px;
    margin:-30px -80px ;
    font-size: 20px;
} */


/* acordes ver cancion */
.mastil{
    background-color: #aeaeae;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.traste{
    background-color: rgb(202, 202, 202);
    border-left: 3px solid black;
    width: 25%;
    height: 100%;
}
.punto{
    width: 100%;
    border-top: 1px solid black;
    height: 13%;
}
.nota{
    margin-right: 10px;
}


.nota h2{
    background-color: #1e33d4;
    color:white;
    border-radius: 100px;
    padding:4px 10px;
    font-family: monospace;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

}
.container__cancion--info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__acorde{
    margin:40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crearAcorde{
    margin:0px !important;
   
}
.crearAcorde .mastil{
    background-color: #aeaeae;
    width: 180px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.crearAcorde h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.crearAcorde .nota{
    display: flex;
    justify-content: center;
    align-items: center;

}
.punto{
    width: 100%;
    border-top: 1px solid black;
    height: 16%;
    cursor: pointer;
}


/* .container__acorde--create{
    background-color: #292ec3;
} */
.primer__traste{
    background-color: red;
    padding:2px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1e33d4;
    color:white;
    border-radius: 5px;
    margin-left: -20px;
    position: relative;
    top:-40px;
    right: -90px;
    font-size: 12px;

}
.text__float{
    background-color: #1e33d4;
    color:white;
    padding:3px 5px;
    border-radius: 10px;
    margin-right: -20px;
    position: relative;
    top:-20px;
    left:-10px;
}
/* .container__acorde--seleccionar p {
    margin-top: 10px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
} */




/*  */
.modal-crearCancion section{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.modal-crearCancion section input[type=text]{
    padding:10px;
    font-size: 16px;
    outline: none;
    margin:20px 10px;
}
.modal-crearCancion textarea{
    padding:10px;
    width: 100%;
    margin:0 auto;
    height: 200px;
    outline: none;
    resize: none;
    font-size: 16px;
}
.modal-crearCancion input[type=button]{
    padding:10px 15px;
    font-size: 16px;
    outline: none;
    background-color: #1e33d4;
    color:white;
    margin:20px 10px;
    border: none;
    cursor: pointer;
}
.lista__acordes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.lista__acordes li{
    background-color: #1e33d4;
    padding:10px 20px;
    border-radius: 10px;
    list-style: none;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0px 5px;
    margin-bottom:20px;
    cursor: pointer;

}
.lista__acordes li:hover{
    background-color: #000000;

}
.container__acordes--seleccionar{
    margin-top: 0px;
    width: 70%;
}
.container__acordes--seleccionar ul{
    margin-top: 20px;
}
.container__acordes--pintar{
    margin-left: 30px;
}
.container__acordes--pintar p{
    margin-top: 20px;
}

.texto__pintar{
    line-height: 60px;
    cursor: pointer;
}
.texto__pintar em{
    background-color: #1e33d4;
    color:white;
    padding:5px;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    margin-right: -20px;
    top:-25px;
    left:-30px;
}