*{
    margin:0;
    padding:0;

}
body{
    background-color: #d8d8d8;
}
h3,h2,p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 30px;
}
p{
    font-size: 18px;
}
header{
    background-color: #292ec3;
    padding:20px 30px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
    Arial, sans-serif;
    letter-spacing: 2px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    font-size: 30px;
    cursor: pointer;
}
.home__container{
    background-color: white;
    padding:50px 50px;
    width: 80%;
    margin:50px auto;
}
input[type="search"]{
    padding:15px;
    width: 100%;
    border:none;
    border-bottom: 4px solid #292ec3 ;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
    Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.container__title--cancion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnBorrar{
    margin-left: 10px;
    padding:6px 5px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #cfcfcf;
}
.btnBorrar{
    margin:0 10px;
    padding:6px 5px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #cfcfcf;
}
.btnBorrar:hover{
    background-color: red;    
}
.cancion__target{
    border-bottom: 3px solid black;
    cursor: pointer;
    
}
.cancion__target p{
 padding: 5px 0px 15px 10px;
    
}
.cancion__target h3{
    padding: 15px 0px 0 10px;

       
   }
.cancion__target h2{
    text-align: center;

}
.cancion__target:hover{
    background-color: #292ec3;
    color:white;
}
.modal-verCancion{
    display: flex;
    padding:0 15px;
}

/* .modal-verCancion aside{
    background-color: #d0d0d0;
    border-radius: 5px;
    padding: 20px;
} */
.modal-verCancion ul{
    list-style: none;
}

.modal-verCancion p{
    padding:20px 0;
    line-height: 50px;
    overflow-wrap: break-word;
}
/*  */



/* The Modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    overflow: auto;
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    animation: mostrarModal .3s;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
  }
  .container__close{
    display: flex;
    justify-content: end;
  }
  
  .close,
  .close2,
  .close3,
  .close4  {
    color: #292ec3;
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus,
  .close2:hover,
  .close2:focus,
  .close3:hover,
  .close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  







  /*
Asignar acorde a un texto
.container__text{
    max-width: 500px;
    font-family: monospace;
    font-size: 30px;
    cursor: pointer;
    line-height: 60px;
}
.container__text p {
  
}
em{
    position:absolute;
    padding: 0 5px;
    border-radius: 100px;
    margin:-30px -80px ;
    font-size: 20px;
} */


/* acordes ver cancion */
.mastil{
    background-color: #aeaeae;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.traste{
    background-color: #cacaca;
    border-left: 3px solid black;
    width: 25%;
    height: 100%;
}
.punto{
    width: 100%;
    border-top: 1px solid black;
    height: 13%;
}
.nota{
    margin-right: 10px;
}


.nota h2{
    background-color: #1e33d4;
    color:white;
    border-radius: 100px;
    padding:3px 7px;
    font-family: monospace;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}
.container__cancion--info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.container__acorde{
    margin:0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crearAcorde .mastil{
    background-color: #aeaeae;
    width: 180px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.crearAcorde h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.crearAcorde .nota{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.punto{
    width: 100%;
    border-top: 1px solid black;
    height: 16%;
    cursor: pointer;
}


/* .container__acorde--create{
    background-color: #292ec3;
} */
.btnGeneral{
    padding:10px 15px;
    border-radius: 5px;
    background-color: #1e33d4;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border:2px solid #1e33d4;
    margin-bottom: 20px;
    cursor: pointer;


}
.btnGeneral:hover{
    background-color: #0d119a;
    

}
.crearAcorde{
   display: flex;
   flex-wrap: wrap;
}
.primer__traste{
    background-color: red;
    padding:2px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1e33d4;
    color:white;
    border-radius: 5px;
    margin-left: -20px;
    position: relative;
    top:-40px;
    right: -90px;
    font-size: 12px;

}
.primer__trasteCrear{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -20px;
    position: relative;
    top:-65px;
    right: -182px;
    margin-bottom: 10px;

}
.primer__trasteCrear input[type=number],.nota__crear input[type=text]{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color:black;
    
    width: 30px;
    outline: none;
    border:none;
    padding:5px;
    border: 2px solid #1e33d4;
}
.nota__crear input[type=text]{
    width:80px;
    font-size: 16px;
    height: 30px;
    margin:0 10px;
}
.text__float{
    background-color: #1e33d4;
    color:white;
    padding:3px 5px;
    border-radius: 10px;
    margin-right: -20px;
    position: relative;
    top:-20px;
    left:-10px;
}
/* .container__acorde--seleccionar p {
    margin-top: 10px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
} */




/*  */
.modal-crearCancion section{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.modal-crearCancion section input[type=text]{
    padding:10px;
    font-size: 16px;
    outline: none;
    margin:10px ;
}
.modal-crearCancion textarea{
    padding:10px;
    width: 400px;
    margin:10px auto;
    height: 200px;
    outline: none;
    resize: none;
    font-size: 16px;
}
#myModal-CrearCancionModal{
    padding:20px;
}
.lista__acordes{
    width:400px;
    overflow-x: scroll;
    display: flex;
    margin:0 auto;
}
.lista__acordes li{
    background-color: #1e33d4;
    padding:10px 20px;
    border-radius: 10px;
    list-style: none;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0px 5px;
    margin-bottom:20px;
    cursor: pointer;

}
.lista__acordes li:hover{
    background-color: #000000;

}
.container__acordes--seleccionar{
    margin-top: 0px;
  
}
.container__acordes--seleccionar ul{
    margin-top: 20px;
}
.container__acordes--pintar{
    padding:20px;
}
.container__acordes--pintar p{
    margin-top: 20px;
}

.texto__pintar{
    line-height: 60px;
    cursor: pointer;
}
.texto__pintar em{
    background-color: #1e33d4;
    color:white;
    padding:5px;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    margin-right: -20px;
    top:-25px;
    left:-30px;
}
.nota__crear{
    display: flex;
    justify-content: center;
    padding:10px;
}
.nota__crear input{
    padding:10px 15px;
    outline: none;
    margin: 10px 20px;
}
.modal-CrearAcorde {
    margin: 50px 0;
}
.container__acorde--info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container__acorde--info h1{
    margin-bottom: 20px;

}
.container__menu{
    display: flex;
    justify-content: center;
    position:fixed;
    top:0;
    height: 100vh;
    left:-300px;
    width: 250px;
    background-color:#e3e3e3;
    box-shadow: 0px 0px 10px gray;

}
.container__menu ul{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.container__menu li{
    padding:30px 0;
    cursor: pointer;
    width: 100%;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border-bottom: 2px solid gray;
}

.container__menu li:hover{
    background-color: #1e33d4;
    color:white;
}
.mostrarMenu{
    animation: mostrarMenuAnimation .3s;
    left:0px;

}
.ocultarMenu{
    animation: ocultarMenuAnimation .3s;
    left:-300px;

}
.container__crearCancion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.container__crearCancion h2{
    text-align: center;
}
.container__crearCancion h3{
    margin-top: 20px;
}
@keyframes mostrarMenuAnimation {
    0%{left:-300px}
    100%{left:0}
}
@keyframes ocultarMenuAnimation {
    0%{left:0}
    100%{left:-300px}
    
}
@keyframes mostrarModal {
    0%{opacity: 0;
        margin-top: 400px;}
    100%{opacity:1;
    margin-top: 0;}
    
}
.ocultarModal{
    animation: ocultarModal .3;
}
@keyframes ocultarModal {
    0%{opacity:1;
    margin-top: 0;}
    100%{opacity: 0;
        margin-top: 400px;}
    
}
.container__acordes--banner{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 90%;
    padding-top: 30px;
    background-color: #e0e0e0;
    overflow-x: scroll;
    display: flex;
    border-top-left-radius: 10px;
}
.container__dates--cancion {
    margin: 0 auto;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;

}
.container__explorar--info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}
#containerAcordeVer{
    margin: 30px 0;
}
#acordePintado{
    margin-right: 20px;
}

/* RESPONSIVE */
@media (max-width:530px)  {
    .lista__acordes{
        width:200px;
    }
    .home__container{
        width: 100% !important; 
        padding:20px 0px;
    }
    .home__container div{
    }
    .cancion__target{
        margin: 0 10px;
    }
    .container__search{
        margin:0 10px !important;
    }
    .modal {
        display: none;
        position: fixed; 
        z-index: 1;
        left: 0;
        top: 0;
        width:100%;
        height: 100%; 
        overflow-y:scroll;
        overflow-x: hidden;

        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4); 
        animation: mostrarModal .3s;
        margin:0 auto !important;
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        margin: 0 auto !important; 
        border: 1px solid #888;
        width: 100%; 
        padding:0;

      }
  
     
      .container__crearCancion{
       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container__crearCancion h2{
        text-align: center;
    
    }
    .container__crearCancion{
        width: 100%;

    }
    .container__crearCancion textarea{
        width: 100%;
    }
    
}
/* /RESPONSIVE */
